{% extends "projects/base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h1>Full Stack Projects</h1>
    <div class="row">
        <!-- Featured Full Stack Projects -->
        {% for project in projects %}
        {% if project.category == 'Full Stack' and project.featured %}
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncate_words:50|safe }}</p>
                    {% if project.github_link %}
                    <a href="{{ project.github_link }}" class="btn btn-primary">{{ project.github_label }}</a>
                    {% endif %}
                    {% if project.live_link %}
                    <a href="{{ project.live_link }}" class="btn btn-secondary">{{ project.live_label }}</a>
                    {% endif %}
                    {% if project.download_link %}
                    <a href="{{ project.download_link }}" class="btn btn-success">{{ project.download_label }}</a>
                    {% endif %}
                    {% if project.external_link %}
                    <a href="{{ project.external_link }}" class="btn btn-info">{{ project.external_label }}</a>
                    {% endif %}
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-info">More Info</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <!-- Non-Featured Full Stack Projects -->
        {% for project in projects %}
        {% if project.category == 'Full Stack' and not project.featured %}
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncate_words:50|safe }}</p>
                    {% if project.github_link %}
                    <a href="{{ project.github_link }}" class="btn btn-primary">{{ project.github_label }}</a>
                    {% endif %}
                    {% if project.live_link %}
                    <a href="{{ project.live_link }}" class="btn btn-secondary">{{ project.live_label }}</a>
                    {% endif %}
                    {% if project.download_link %}
                    <a href="{{ project.download_link }}" class="btn btn-success">{{ project.download_label }}</a>
                    {% endif %}
                    {% if project.external_link %}
                    <a href="{{ project.external_link }}" class="btn btn-info">{{ project.external_label }}</a>
                    {% endif %}
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-info">More Info</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
