{% extends "projects/base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h1>Game Projects</h1>
    <div class="row">
        {% for project in projects %}
        {% if project.category == 'Games' %}
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncate_words:30|safe }}</p>
                    <a href="{{ project.github_link }}" class="btn btn-primary">GitHub</a>
                    {% if project.live_link %}
                    <a href="{{ project.live_link }}" class="btn btn-secondary">Live Demo</a>
                    {% endif %}
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-info">More Info</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
