{% extends "projects/base.html" %}
{% load custom_filters %} <!-- Load the custom filters -->
{% load static %}
{% block content %}
<div class="container">
    <h1>About Me</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ profile.image.url }}" class="img-fluid rounded-circle" alt="{{ profile.name }}">
        </div>
        <div class="col-md-8">
            <h2>{{ profile.name }}</h2>
            <h3>{{ profile.title }}</h3>
            <p>{{ profile.bio|safe }}</p>
            <p>Email: <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>
            <p>Phone: {{ profile.phone }}</p>
            <p>
                <a href="{{ profile.linkedin }}" target="_blank">LinkedIn Profile</a> |
                <a href="{{ profile.github }}" target="_blank">GitHub Profile</a> |
                <a href="{{ profile.itch_io }}" target="_blank">Itch.io Page</a>
            </p>
        </div>
    </div>

    <h2 class="mt-4">Technical Skillset</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Languages</h5>
                    <p class="card-text">C++, C#, Python, Java, JavaScript, Kotlin, HTML5, CSS3</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                    <p class="card-text">Django, Flask, React, jQuery, Bootstrap 5, Angular</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Database Management</h5>
                    <p class="card-text">PostgreSQL, MongoDB, MySQL, ElephantSQL</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Cloud Services</h5>
                    <p class="card-text">Heroku, AWS, Azure, Cloudinary</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Payment Processing</h5>
                    <p class="card-text">Stripe API for secure online transactions</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Version Control</h5>
                    <p class="card-text">Git, GitHub</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Other Technologies</h5>
                    <p class="card-text">Unity, Unreal, Prolog, Unreal Blueprints</p>
                </div>
            </div>
        </div>
    </div>

    <h1 class="mt-4">Featured Projects</h1>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card h-100"> <!-- Add h-100 class to ensure equal height -->
                <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncate_words:50|safe }}</p> <!-- Apply the custom filter -->
                    {% if project.github_link %}
                    <a href="{{ project.github_link }}" class="btn btn-primary">{{ project.github_label }}</a>
                    {% endif %}
                    {% if project.live_link %}
                    <a href="{{ project.live_link }}" class="btn btn-secondary">{{ project.live_label }}</a>
                    {% endif %}
                    {% if project.download_link %}
                    <a href="{{ project.download_link }}" class="btn btn-success">{{ project.download_label }}</a>
                    {% endif %}
                    {% if project.external_link %}
                    <a href="{{ project.external_link }}" class="btn btn-info">{{ project.external_label }}</a>
                    {% endif %}
                    <a href="{% url 'project_detail' project.pk %}" class="btn btn-info">More Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h1 class="mt-4">My CV</h1>
    <a href="{% static 'files/VitorBarbosaResume2024JuniorDevAugust.pdf' %}" class="btn btn-primary" target="_blank">Download CV</a>
</div>
{% endblock content %}
