{% extends "projects/base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h1>{{ project.title }}</h1>
    <img src="{{ project.image.url }}" class="img-fluid mb-3 project-image" alt="{{ project.title }}">
    <p>{{ project.description|embed_gifs|safe }}</p>
    {% if project.trailer_url %}
    <div class="trailer mb-3">
        <h5>Watch Trailer</h5>
        <div class="embed-responsive embed-responsive-16by9 custom-video-container">
            <iframe class="embed-responsive-item custom-video-iframe" src="{{ project.trailer_url|youtube_embed }}" allowfullscreen></iframe>
        </div>
    </div>
    {% endif %}
    {% if project.additional_images.all %}
    <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for image in project.additional_images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}" class="d-block w-100 carousel-image" alt="{{ image.caption }}" data-bs-toggle="modal" data-bs-target="#imageModal" data-slide-to="{{ forloop.counter0 }}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{ image.caption }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}

    {% if project.github_link %}
    <a href="{{ project.github_link }}" class="btn btn-primary">{{ project.github_label }}</a>
    {% endif %}
    {% if project.live_link %}
    <a href="{{ project.live_link }}" class="btn btn-secondary">{{ project.live_label }}</a>
    {% endif %}
    {% if project.download_link %}
    <a href="{{ project.download_link }}" class="btn btn-success">{{ project.download_label }}</a>
    {% endif %}
    {% if project.external_link %}
    <a href="{{ project.external_link }}" class="btn btn-info">{{ project.external_label }}</a>
    {% endif %}
</div>

{% if project.additional_images.all %}
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in project.additional_images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.caption }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#modalCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#modalCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block extra_scripts %}

<script>
    $(document).ready(function() {

        // Check if jQuery is available
        if (typeof $ !== 'undefined') {

            // Select all p elements
            const pElements = $('p');

            pElements.each(function() {
                const pElement = $(this);

                // Select the img element within the p element
                const imgElement = pElement.find('img');

                if (imgElement.length) {
                    // Clear the content of the p element
                    pElement.empty();

                    // Append the img element back to the p element
                    pElement.append(imgElement);

                    // Apply custom styling to GIFs
                    if (imgElement.attr('src').endsWith('.gif')) {
                        imgElement.addClass('custom-gif');
                    }
                }
            });

            $('#projectCarousel').carousel();

            $('.carousel-image').on('click', function() {
                var index = $(this).data('slide-to');
                $('#modalCarousel').carousel(index);
                $('#imageModal').modal('show');
            });

            $('#imageModal').on('shown.bs.modal', function () {
                $('#modalCarousel').carousel('cycle');
            }).on('hidden.bs.modal', function () {
                $('#modalCarousel').carousel('pause');
            });

            // Hide all anchor elements that link to media.giphy.com
            $('a[href^="https://media.giphy.com"]').each(function() {
                $(this).hide();

                // Find the img element within the anchor
                var gifImage = $(this).find('img');

                // Apply custom styling to GIFs
                gifImage.addClass('custom-gif');
            });
        }
    });
</script>

{% endblock %}
